[Unit]
Description=Propraetor Identity Pocket ID
After=network-online.target

[Container]
Image=ghcr.io/pocket-id/pocket-id:v2.13.0
ContainerName=identity-pocket-id
Pod=identity.pod
EnvironmentFile=/host-volume/components/identity/persist/admin/environment
Environment=TRUST_PROXY=true
Volume=../persist/data:/app/data:U

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
