[Unit]
Description=Propraetor welcome Host usage sampler timer

[Timer]
OnActiveSec=15s
OnUnitActiveSec=1min
Persistent=true
Unit=welcome-stats.service

[Install]
WantedBy=timers.target
