[Unit]
Description=Propraetor panel Host usage sampler

[Service]
Type=oneshot
ExecStart=/bin/bash /host-volume/workloads/panel/scripts/panel-stats.sh
