[Unit]
Description=Propraetor panel Host usage sampler timer

[Timer]
OnActiveSec=15s
OnUnitActiveSec=1min
Persistent=true
Unit=panel-stats.service

[Install]
WantedBy=timers.target
