[Unit]
Description=Propraetor Edge nginx
After=network-online.target

[Container]
Image=docker.io/library/nginx:1.31.4-alpine
Pod=edge.pod
Volume=../nginx.conf:/etc/nginx/nginx.conf:ro
Volume=../persist/domains:/etc/nginx/edge-domains:ro
Volume=../persist/routes:/etc/nginx/edge-routes:ro
Volume=../persist/certs:/etc/nginx/certs:ro
Volume=../persist/acme-www:/var/www/acme:ro

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
