[Unit]
Description=Propraetor example hello-service web

[Container]
Image=docker.io/library/nginx:1.31.4-alpine
ContainerName=hello-service-web
Pod=hello-service.pod
Volume=../persist:/var/lib/workload:rw

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
