[Unit]
Description=Propraetor Database PostgreSQL
After=network-online.target

[Container]
Image=docker.io/library/postgres:16-alpine
ContainerName=database-postgres
Pod=database.pod
EnvironmentFile=/var/lib/host-volume/data/components/database/admin/environment
Environment=PGDATA=/var/lib/postgresql/data/pgdata
Entrypoint=/usr/local/bin/database-entrypoint.sh
Volume=/var/lib/host-volume/internals/components/database/entrypoint.sh:/usr/local/bin/database-entrypoint.sh:ro
Volume=/var/lib/host-volume/data/components/database/pgdata:/var/lib/postgresql/data:U
Volume=/var/lib/host-volume/data/components/database/ca/ca.crt:/etc/database-certs/ca.crt:ro
Volume=/var/lib/host-volume/data/components/database/server/server.crt:/etc/database-certs/server.crt:ro
Volume=/var/lib/host-volume/data/components/database/server/server.key:/etc/database-certs/server.key:ro
Volume=/var/lib/host-volume/data/components/database/conf:/etc/database-conf:ro

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
