[Unit]
Description=Propraetor example web-api-with-db app

[Container]
Image=docker.io/library/nginx:1.31.3-alpine
ContainerName=web-api-with-db-api
Pod=web-api-with-db.pod
Volume=/host-volume/workloads/web-api-with-db/persist:/var/lib/workload:rw

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
