[Unit]
Description=Propraetor Database PostgreSQL
After=network-online.target

[Container]
Image=docker.io/library/postgres:18-alpine
ContainerName=database-postgres
Pod=database.pod
EnvironmentFile=/host-volume/components/database/persist/admin/environment
Environment=PGDATA=/var/lib/postgresql/data/pgdata
Entrypoint=/usr/local/bin/database-entrypoint.sh
Volume=/host-volume/components/database/entrypoint.sh:/usr/local/bin/database-entrypoint.sh:ro
Volume=/host-volume/components/database/persist/pgdata:/var/lib/postgresql/data:U
Volume=/host-volume/components/database/persist/ca/ca.crt:/etc/database-certs/ca.crt:ro
Volume=/host-volume/components/database/persist/server/server.crt:/etc/database-certs/server.crt:ro
Volume=/host-volume/components/database/persist/server/server.key:/etc/database-certs/server.key:ro
Volume=/host-volume/components/database/persist/conf:/etc/database-conf:ro

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
